.s-button {
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: padding-top, padding-right, padding-bottom, padding-left,
      0.3s;
  }

  .s-button:hover {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .s-button:active {
    opacity: 0.2;
  }

  .stretch-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;

    transition: padding 0.15s, margin 0.15s;
  }

  .stretch-button:hover {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .shadow-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  }

  .shadow-button:active {
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: none;
  }

  .back-button {
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
  }

  .search-result {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 18px;
  }

  .next-button {
    margin-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
  }