.text{
font-family:Montserrat ;
font-weight:bold ;
margin-left: 65px;
font-size: 35px;
line-height: 10px;
}
.text1{
font-family:Montserrat ;

}
.text2{
font-family:Montserrat ;
text-decoration: underline;

}